<div class="container_resident">
    <h1 class="title">Moradores</h1>
    <div class="container_card">
        <app-card nameResident="Dayvid" apartament="201" forum="3"></app-card>
        <app-card nameResident="Dayvid" apartament="201" forum="3"></app-card>
        <app-card nameResident="Dayvid" apartament="201" forum="3"></app-card>
        <app-card nameResident="Dayvid" apartament="201" forum="3"></app-card>
        <app-card nameResident="Dayvid" apartament="201" forum="3"></app-card>
        <app-card nameResident="Dayvid" apartament="201" forum="3"></app-card>
        <app-card nameResident="Dayvid" apartament="201" forum="3"></app-card>
        <app-card nameResident="Dayvid" apartament="201" forum="3"></app-card>
    </div>
</div>