.title {
    display: flex;
    justify-content: center;
}

.container_resident {
    position: relative;
    top: 9em;
}

.container_card {
    position: relative;
    top: 1em;
    align-items: center;
    justify-content: space-around;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}


@media (max-width: 900px) {
    .container_resident {
        top: 7em;
    }

    .container_card {
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }
}

@media (max-width: 600px) {
    .container_resident {
        top: 7em;
    }

    .container_card {
        display: ruby;
    }
}