$red-color-logo: #FF0000;
$blue-color-logo: #1DF5D8;
$green-color-logo: #54FD2A;
$grey-color: #D7D7D7;
$color-bg-default: #ffffff;
$black-color: #272727;
$primary-bg-button-color: #ffffff;
$primary-button-color: #000000;