<div class="container">
    <div class="container_LogoTipo">
        <img src="" class="logoTipo" alt="">
    </div>
    <nav class="menu_btn">
        <app-button 
            buttonLabel="Moradores" 
            buttonClass="primary" 
            buttonRouter="residentes"
        ></app-button>
        <app-button 
            buttonLabel="Fórum" 
            buttonClass="primary" 
            buttonRouter="forum"
        ></app-button>
        <app-button 
            buttonLabel="Projetos" 
            buttonClass="primary" 
            buttonRouter="projetos"
        ></app-button>
    </nav>
    <div class="container_Profile">
        <app-photo></app-photo>
    </div>
</div>